body {
  text-align: center;
  background-color: #E5DFD5;
}

#main {
  margin-top: 70px;
  font-size: 50pt;
  color: #323335;
  font-family: 'Hammersmith One', sans-serif;
}

#yet {
  font-size: 20pt;
  color: #323335;
  font-family: 'Hammersmith One', sans-serif;
}

a {
  padding: 15px;
/*  font-size: 20pt;*/
  color: #323335;
}

a:hover {
  color: grey;
}

#footer {
  color: #323335;
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

html {
    position: relative;
    min-height: 100%;
}

img {
  width: 300px;
}

/* Media Queries */

@media screen and (max-width: 460px) {
    #main {
      font-size: 25pt
    }
    
    img {
      width: 55%;
    }
}