body {
  text-align: center;
  background-color: #E5DFD5;
}

#main {
  margin-top: 40px;
  padding: 30px;
  font-size: 50pt;
  color: #323335;
  font-family: 'Hammersmith One', sans-serif;
}

#yet {
  padding: 15px;
  font-size: 20pt;
  color: #323335;
  font-family: 'Hammersmith One', sans-serif;
}

a {
  padding: 15px;
/*  font-size: 20pt;*/
  color: #323335;
}

a:hover {
  color: grey;
}

#footer {
  color: #323335;
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

html {
    position: relative;
    min-height: 100%;
}

/*.test {
  color: black;
}*/
