body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}


h1 {
  border-bottom-style: solid;
  border-bottom: 3px;
  font-size: 50px;
  text-align: center;
  letter-spacing: 15px;
  color: #221F28;
}

h2 {
  text-align: center;
}

h3 {
  padding-bottom: 0px;
  line-height: 0px;
}

h4 {
  line-height: 15px;

}

#intro {
  display: block;
}

.exp-des {
  line-height: 25px
}

#des a, .exp-cont a {
  text-decoration: none;
  color: #F5D76E;
  background-size: 202% 100%;
  background-image: linear-gradient(to right, white 50%, #F5D76E 50%);
  transition: .3s;
}

#des a:hover, a:hover {
  background-position: -99% 0;
  color: white;
}

.section {
  height: 600px;
  float: left;
}

.project-section {
  height: 102vh;
  width: 100%;
}

#name-container {
  margin-top: 10%;
  margin-left: 10%;
  position: relative;
  text-align: center;
  float: left;
  width: 35%;
  min-width: 300px;
}

#des {
  line-height: 29px;
  width: 30%;
  margin-right: 10%;
  position: relative;
  float: right;
  margin-top: 15%;
  min-width: 300px;
}

::selection {
  background: #F89406;
  color: white;
}

path {
  stroke-dasharray: 800;
  stroke-dashoffset: 350;
  animation:  infinite;
  opacity: .1;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes hideshow {
  0% { opacity: .01; }
  100% { opacity: 1; }
}

#name-img {
  animation: hideshow 2.5s ease-in-out;
}

#menu-container {
  text-align: center;
}

.menu-item {
  cursor: pointer;
  display: inline;
  padding: 0px 0% 0px 0%;
  margin: 0px 3% 0px 3%;
  color: #95A5A6;
  border-bottom: solid 4px;
  border-bottom-color: #F5D76E;
}

.menu-item:hover {
  color: #221F28;
  -webkit-transition:color .2s ease-in;
}

/*Work Grid*/

.img-container {
  margin: 0 auto;
  margin: 8px 15px 15px 8px;
  width: 330px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.img-container img {
  width: 100%;
}

#projects-container {
  text-align: center;
  margin: 0 auto;
  width: 800px;
}

.img-container:hover .pic-overlay {
  opacity: .85;
}

.work-text {
  color: white;
  font-size: 1.5em;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.pic-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .34s ease;
  background: linear-gradient(#ff7e5f, #feb47b);
}

/*Experience*/

#experience-container {
  text-align: left;
  margin: 0 auto;
  width: 70%;
  min-width: 350px;
}



.experience img{
  width: 130px;
}

.exp-cont {
  /*text-align: center;*/
  padding: 20px 0px 20px 0px;
  margin: 0 auto;
  /*height: 45%;*/
}

.experience {
  position: relative;
  float: left;
  margin: 10px 25px 0px 0px;
}

.exp-desc {
  line-height: 27px;
  width: 80%;
  position: relative;
  float: right;
}

/*Contact*/

#social-bar {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.social-img {
  width: 60px;
}

.social-button {
  padding: 0px 30px 30px 0px;
  margin: 0 auto;
  display: inline-block;
}

.social-img:hover {
  cursor: pointer;
  opacity: .75;
  transition: .4s;
}

#email-container {
  /*font-family: different;*/
  width: 100%;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

#email {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

/*Responsive Implementations*/

@media screen and (max-width: 460px) {

  #name-container {
    margin-top: 10%;
    margin-left: 10%;
    position: static;
    text-align: center;
    float: none;
    width: 300px;
    min-width: 300px;
  }

  #des {
    float: none;
    width: 100%;
    /*text-align: center;*/
    margin: 0 auto;
    position: relative;
    float: right;
    margin-top: 0%;
    min-width: 100%;
  }

  #name-container {
    margin: 0 auto;
  }

  #projects-container {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }

  .img-container {
    margin: 0 auto;
    margin: 15px;
    width: 300px;
    display: inline-block;
    cursor: pointer;
    position: relative;
  }

  .img-container img {
    width: 100%;
  }

  h1 {
    font-size: 25pt;
  }

  #experience-container {
    text-align: left;
    margin: 0 auto;
    /*width: 60%;*/
    line-height: 15pt;
    min-width: 330px;
  }

  .experience {
    margin: 0 auto;
    text-align: center;
    float: none;
  }

  .exp-cont {
    /*text-align: center;*/
    padding: 0px;
    margin: 0 auto;
    /*height: 45%;*/
    }

  h3, h4, #email {
    text-align: center;
  }
  #email-container {
    width: 80%;
  }

  #email {
    font-size: 15px;
  }

  p {
    font-size: 18px;
  }

}
